body {
    font-family: Arial, sans-serif;
    background-color: #eceff4;
    color: #2e3440;
    font-size: 13pt;

}

tr.station {
    font-weight: 500;
    font-size: 15pt;
    color: #8fbcbb;
}

tr.time {
    font-weight: 500;
    font-size: 15pt;
    color: #b48eea;
}

td.left {
    background-color: #e5e9f0;
    padding-left: 10px;
    padding-right: 30px;
}

td.right {
    background-color: #d8dee9;
    text-align: right;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: 600;
}
