<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Latest Station Data</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
  <body>
    <table>
      <tr class="station">
        <td colspan="2">
          <div style="display: flex; justify-content:space-between;">
            <div>Station</div>
            <div style="text-align:right;">{{ station_id }}</div>
          </div>
        </td>
      </tr>
      <tr class="time">
        <td colspan="2">
          <div style="display: flex; justify-content:space-between;">
            <div>Time</div>
            <div style="text-align:right;">{{ time }}</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td class="left">Temperature</td> 
        <td class="right">{{ "{:.2f}".format(temperature) }} °C</td>
      </tr>
      <tr>
        <td class="left">Dew point</td>
        <td class="right">{{ "{:.2f}".format(dew_point) }} °C</td>
      </tr>
      <tr>
        <td class="left">Relative humidity</td>
        <td class="right">{{ humidity }} %</td>
      </tr>
      <tr>
        <td class="left">Specific humidity</td>
        <td class="right">{{ "{:.1f}".format(specific_humidity*1000) }} g/kg</td>
      </tr>
      <tr>
        <td class="left">Pressure reduced to sea level</td>
        <td class="right">{{ "{:.1f}".format(sea_level_pressure*0.01) }} hPA</td>
      </tr>
      <tr>
        <td class="left">Pressure at station</td>
        <td class="right">{{ "{:.1f}".format(pressure*0.01) }} hPa</td>
      </tr>
    </table>
    <br />
    <p>
      <img src="{{ url_for('static', filename='img/weather_sta01_recent_temperature.png') }}" width="800" height="480" />
    </p><p>
      <img src="{{ url_for('static', filename='img/weather_sta01_recent_pressure.png') }}" width="800" height="480" />
    </p><p>
      <img src="{{ url_for('static', filename='img/weather_sta01_recent_humidity.png') }}" width="800" height="480" />
    </p><p>
      <img src="{{ url_for('static', filename='img/weather_2025_01_sta01_temperature.png') }}" width="800" height="480" />
    </p><p>
      <img src="{{ url_for('static', filename='img/weather_2025_01_sta01_pressure.png') }}" width="800" height="480" />
    </p>
  </body>
</html>

