[Unit]
Description="Weather station periodic service"

[Service]
Type=oneshot
ExecStart=/home/pavel/dev-py/pico_weather_station/server/update_recent.sh
WorkingDirectory=/home/pavel/dev-py/pico_weather_station/server/
